# ==== Arquivos de IDE ====
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.DotSettings.user

# ==== Build do .NET ====
bin/
obj/
*.cache
*.log
*.tmp
*.pdb
*.dll.config

# ==== Configurações sensíveis ====
appsettings.Development.json
appsettings.Local.json
/nginx/certs/*
!nginx/certs/README.md  

# ==== Docker ====
**/docker-compose.*.yml
!docker-compose.yml  
**/Dockerfile.dev

# ==== Banco de dados e migrações ====
database/
*.db
*.mdf
*.ldf

# ==== Sistema ====
.DS_Store
Thumbs.db

# ==== Dependências ====
node_modules/
.nuget/
packages/

# ==== Testes ====
TestResults/
*.trx

# ==== Azure/DevOps ====
.azure/
*.pubxml